header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;
    width: 100%;
    background: #27334a;

    h1 {
        color: var(--primary-font-color);
        font-family: "Outfit", "sans-serif";
        font-size: clamp(36px, calc(28.632px + 2.456vw), 64px);
        font-weight: 700;
        text-transform: uppercase;
    }
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 16px;
    width: 100%;
    max-width: 1440px;
}

.book-card {
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 600px;
    border-radius: 16px;
    padding: 20px;
    margin: 20px;
    background: #27334a;
    background: linear-gradient(
        90deg,
        rgba(39, 51, 74, 1) 0%,
        rgba(26, 47, 97, 1) 100%
    );
}

.head-line {
    display: flex;
    width: 260px;
    height: 70px;

    h2 {
        width: 100%;
        color: var(--primary-font-color);
        font-size: 1.5rem;
        font-weight: 700;
        border-bottom: 1px solid blue;
    }
}

.book-cover {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid blue;

    img {
        width: 100%;
        max-width: 100px;
        margin: 15px;
    }
}

.book-info {
    display: flex;
    flex-direction: column;
    color: var(--primary-font-color);
    font-size: 1rem;
    padding: 10px 0;
    border-bottom: 1px solid blue;

    .priceLikeCont {
        display: flex;
        justify-content: space-between;
        gap: 20px;
        width: 100%;
        height: 40px;

        .book-price {
            font-size: 1.5rem;
            color: rgb(234, 64, 52);
            width: 50%;
        }

        .like-btn {
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            gap: 8px;
            width: 50%;
            height: 32px;

            img {
                cursor: pointer;
            }
        }
    }

    .info-details {
        display: flex;
        flex-direction: row;
        font-size: 0.875rem;

        .p-title {
            width: 40%;
        }

        .p-output {
            width: 60%;
        }
    }
}

.comment-wrapper::-webkit-scrollbar {
    width: var(--sb-size);
}

.comment-wrapper::-webkit-scrollbar-track {
    background: var(--sb-track-color);
    border-radius: 6px;
}

.comment-wrapper::-webkit-scrollbar-thumb {
    background: var(--sb-thumb-color);
    border-radius: 6px;
    border: 2px solid gray;
}

@supports not selector(::-webkit-scrollbar) {
    .comment-wrapper {
        scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
    }
}

.show-comments {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 150px;
    width: 100%;
    flex-wrap: nowrap;
    padding: 10px 0;

    h3 {
        font-size: 1rem;
        color: var(--primary-font-color);
        padding-bottom: 8px;
    }

    .comment-wrapper {
        display: flex;
        flex-wrap: wrap;
        align-items: flex-start;
        width: 100%;
        height: 150px;
        gap: 8px;
        overflow-y: auto;

        --sb-track-color: var(--primary-font-color);
        --sb-thumb-color: var(--primary-font-color);
        --sb-size: 6px;

        .user-comments {
            display: flex;
            align-items: flex-start;
            width: 100%;
            gap: 8px;
            padding-right: 6px;
            overflow-y: auto;

            .users-name {
                display: flex;
                width: 40%;
                height: 20px;
                font-size: 0.75rem;
                color: var(--primary-font-color);
            }

            .users-comment {
                display: flex;
                width: 60%;
                height: auto;
                font-size: 0.75rem;
                color: var(--primary-font-color);
            }
        }
    }
}

.input-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 32px;
    margin-top: 10px;

    .input-comment {
        width: 85%;
        height: 32px;
        font-size: 0.875rem;
        padding-left: 6px;
    }
}

.send-btn {
    display: flex;
    width: 32px;
    height: 32px;

    :hover {
        cursor: pointer;
    }
}

footer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    background: #27334a;
    color: var(--primary-font-color);
    gap: 10px;

    a {
        color: var(--primary-font-color);
        text-decoration: none;
    }
}

@media screen and (max-width:768px) {
    header {
        height: 100px;
    }
}