* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;
    position: relative;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100dvh;
    background-color: rgb(85, 85, 85);
    font-family: "Outfit", "sans-serif";
}

button {
    cursor: pointer;
}

:root {
    --primary-font-color: rgb(245,245,245);
}